<!DOCTYPE html>
<html>
<head>
  <title>Kayapinterest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>





<div class="navbar navbar-fixedtop
navbar-inverse" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle"
data-toggle="collapse"
datatarget=".navbar-collapse">


</button>
<%= link_to 'Kaya Pinterest', root_path, :class=>"navbar-brand" %> 

</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right">
<li><%= link_to 'Home',  root_path %></li>
<li><%= link_to 'Upload', new_gambar_path %><li>
</ul>
</div>
</div>
</div>
<!-- flash -->
<% flash.each do |key, value| %>
 <h3><font color="red"><%= content_tag :div, value, class: "flash #{key}" %> </h3></font>
<% end %>

<%= yield %>

</body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

</html>
